pi-hole.mmazur.org {
    # Redirect all HTTP traffic from / to /admin
    redir / /admin/
    # Redirect all traffic to 
    reverse_proxy pihole:80
    # Using internal SSL certificate
    tls internal
}